<nav class="navbar fixed-top">
  <div class="navbar-brand d-flex align-items-center gap-3">
    <a routerLink="/admin">
      <img src="loogo.png" alt="ITIANS Electronics" class="logo" />
    </a>
    <a routerLink="/admin" class="head h3 text-decoration-none">Admins</a>
  </div>
  <div class="navbar-menu">
    <button
      *ngIf="isAuthenticated; else loginButton"
      class="btn btn-outline-light"
      (click)="onLogout()"
      [disabled]="isLoggingOut"
    >
      <ng-container *ngIf="!isLoggingOut; else loading"> Log Out </ng-container>
      <ng-template #loading>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Logging Out...
      </ng-template>
    </button>
    <ng-template #loginButton>
      <button class="btn btn-outline-light" routerLink="/login">Log In</button>
    </ng-template>
  </div>
</nav>
