<div class="container">
  <!-- Create New Product Button -->
  <button class="btn btn-primary mb-4" (click)="openCreateModal()">
    Create New Product
  </button>

  <!-- Product Table -->
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Brand</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.title }}</td>
        <td>
          <img
            [src]="product.image"
            alt="Product Image"
            class="img-thumbnail"
            [src]="product.image"
            alt="Product Image"
            class="img-thumbnail"
            style="width: 100px; height: auto"
          />
        </td>

        <!-- <td>{{ product[i] }}</td> -->
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.categoryID.name }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.brand }}</td>
        <td>
          <div class="d-flex">
            <button
              class="btn btn-secondary btn-sm action-btn"
              (click)="openEditModal(product)"
            >
              <i class="fas fa-edit"></i>
            </button>

            <button
              class="btn btn-danger btn-sm action-btn ms-2"
              (click)="deleteProduct(product._id)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Create Product Modal -->
  <div
    class="modal fade"
    id="createProductModal"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create New Product</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="productForm" (ngSubmit)="Add()">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                formControlName="title"
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                class="form-control"
                id="description"
                formControlName="description"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                formControlName="price"
              />
            </div>
            <div class="mb-3">
              <label for="discountPercentage" class="form-label"
                >Discount Percentage</label
              >
              <input
                type="number"
                class="form-control"
                id="discountPercentage"
                formControlName="discountPercentage"
              />
            </div>
            <div class="mb-3">
              <label for="categoryName" class="form-label">Category</label>
              <input
                type="text"
                class="form-control"
                id="categoryName"
                formControlName="categoryName"
              />
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="number"
                class="form-control"
                id="stock"
                formControlName="stock"
              />
            </div>
            <div class="mb-3">
              <label for="brand" class="form-label">Brand</label>
              <input
                type="text"
                class="form-control"
                id="brand"
                formControlName="brand"
              />
            </div>
            <div class="mb-3">
              <label for="dimensions" class="form-label">Dimensions</label>
              <input
                type="text"
                class="form-control"
                id="dimensions"
                formControlName="dimensions"
              />
            </div>
            <div class="mb-3">
              <label for="warrantyInformation" class="form-label"
                >Warranty Information</label
              >
              <textarea
                class="form-control"
                id="warrantyInformation"
                formControlName="warrantyInformation"
              ></textarea>
            </div>

            <div class="mb-3">
              <label for="images" class="form-label">Product Images</label>
              <input
                type="file"
                class="form-control"
                id="images"
                (change)="onFilesChange($event)"
                multiple
              />
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Thumbnail Image</label>
              <input
                type="file"
                class="form-control"
                id="image"
                (change)="onFileChange($event)"
              />
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Product Modal -->
  <div
    class="modal fade"
    id="editProductModal"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Product</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                formControlName="title"
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                class="form-control"
                id="description"
                formControlName="description"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                formControlName="price"
              />
            </div>
            <div class="mb-3">
              <label for="discountPercentage" class="form-label"
                >Discount Percentage</label
              >
              <input
                type="number"
                class="form-control"
                id="discountPercentage"
                formControlName="discountPercentage"
              />
            </div>
            <div class="mb-3">
              <label for="categoryName" class="form-label">Category</label>
              <input
                type="text"
                class="form-control"
                id="categoryName"
                formControlName="categoryName"
              />
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="number"
                class="form-control"
                id="stock"
                formControlName="stock"
              />
            </div>
            <div class="mb-3">
              <label for="brand" class="form-label">Brand</label>
              <input
                type="text"
                class="form-control"
                id="brand"
                formControlName="brand"
              />
            </div>
            <div class="mb-3">
              <label for="dimensions" class="form-label">Dimensions</label>
              <input
                type="text"
                class="form-control"
                id="dimensions"
                formControlName="dimensions"
              />
            </div>
            <div class="mb-3">
              <label for="warrantyInformation" class="form-label"
                >Warranty Information</label
              >
              <textarea
                class="form-control"
                id="warrantyInformation"
                formControlName="warrantyInformation"
              ></textarea>
            </div>

            <div class="mb-3">
              <label for="images" class="form-label">Product Images</label>
              <input
                type="file"
                class="form-control"
                id="images"
                (change)="onFilesChange($event)"
                multiple
              />
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Thumbnail Image</label>
              <input
                type="file"
                class="form-control"
                id="image"
                (change)="onFileChange($event)"
              />
            </div>
            <button type="submit" class="btn btn-primary">
              Update Product
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="skeleton-table">
  <div class="skeleton-row" *ngFor="let _ of [1, 2, 3, 4, 5]">
    <div class="skeleton-cell"></div>
    <div class="skeleton-cell"></div>
    <div class="skeleton-cell"></div>
    <div class="skeleton-cell"></div>
    <div class="skeleton-cell"></div>
    <div class="skeleton-cell"></div>
    <div class="skeleton-cell"></div>
  </div>
</div>

<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container toast-cont position-fixed top-0 end-0 p-3">
    <div
      id="successToast"
      class="toast align-items-center text-bg-success border-0"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">Product created successfully!</div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
